* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: red;
    color: blue;
}

header {
    background: black;
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover, 
nav ul li a.active {
    color: yellow;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

